<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="What's Hot Tonight is an easy way to locate the hottest music events in your area tonight.">
  <meta name="keywords" content="best music events tonight, hottest music shows, local music shows">
  <title>What's Hot Tonight?</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik" />
  <link rel="stylesheet" type="text/css" href="../css/grid.css" />
  <link rel="stylesheet" type="text/css" href="../css/main.css" />
</head>
<body>
  <header role="banner" class="searchToggle">
    <h1>What's Hot Tonight?</h1>
  </header>
  <main role="main">
    <h3 class="searchToggle">Discover the hottest music shows in your area tonight!</h3>
    <h4 class="lblSpotifyStatus searchToggle" hidden>You are now logged into Spotify.</h4>
    <h4 class="lblSpotifyRequired">A Spotify account is recommended.</h4>
    <form id="frmSpotify" role="form" >
      <button class="btnLoginSpotify">
        <i class="fa fa-spotify" aria-hidden="true"></i> Spotify Login
      </button>
    </form>
    <form id="frmSkipSpotify" role="form">
      <div class="orSpacer">or</div>
      <button class="btnSkipSpotify">Continue without Spotify</button>
    </form>
    <form id="frmSearch" class="searchToggle" hidden>
      <fieldset>
        <legend>Enter your Location</legend>
        <label for="city"></label>
        <input id="city" value="" placeholder="Your City" />
        <label for="state"></label>
        <input id="state" value="" placeholder="Your State/Country" />
      </fieldset>
      <button class="btnSubmit">Search</button>
    </form>
    <div class="header-overlay" hidden>
      <h1>Hot Events</h1>
    </div>
    <div id="map"></div>
    <div class="js-results-parent" aria-live="assertive" hidden>
      <ul class="js-results"></ul>
    </div>
    <div class="footer searchToggle">Credits: SongKick, Spotify, Google</div>
  </main>
  <script type="text/javascript" src="js/constants.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJa2H-XH59JxiczNe0t6G6yZcRIqBMpN8&callback=initMap"
    defer async></script>
  <script type="text/javascript" src="js/index.js"></script>
  <script type="text/javascript" src="js/spotifyauth.js"></script>
</body>
</html>