* { box-sizing:border-box; }

#map {
    height: 0;
    width: 0;
    position: absolute;
    overflow: visible;
    top:0;
    left:0;
    z-index: -9999;
}
#map.display {
    height: 100%;
    width:70%;
    margin-left:30%;
    z-index: 10;
}
button {
    padding:10px;
    border-radius: 5px;
    background: white;
}
.btnSubmit {
    background: #DA5B59;
    color:white;
}
.btnBack {
    background-color: #fff;
    color:#000;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'rubik','sans-serif'; 
}
header,main {
    margin:0 auto;
    padding:0px 0 0 0;
    text-align: center;
}
header {
    padding:10px 0 0 0;
}
header h1 {
    color:#DA5B59;
    text-shadow: 1px 1px #555, 2px 2px 3px #555;
}
main h3 {
    margin:0;
    padding:0 5px 8px 5px;
}
main h4 {
    margin:0;
    padding:10px 0 5px 0;
}
header h1 {
    margin:0 !important;
    padding:0 !important;
}
main {
    width:100%;
    height: 100%;
}
body::after {
    content: "";
    background: url('../images/bg.jpg');
    background-position: -100px -180px;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
body.noBox {
    box-shadow: 0 0 0 0;
}
fieldset {
    margin:0 auto;
    border: none;
}
legend {
    padding-top:15px;   
    text-shadow: 1px 1px #555, 2px 2px 3px #fff;
}
fieldset #city {
    margin:10px
}
fieldset input {
    border: solid 1px #000;
    height:25px;
    padding:5px;
}
.header-overlay {
    margin:10px auto;
    position:fixed;
    top:5%;
    width: 20%;
    left:55%;
    /* left: 15%; split the 30% width */
    z-index: 1000;
    text-align: center;
}
.header-overlay h1 {
    color: #DA5B59;
    text-shadow: 1px 1px #555, 2px 2px 3px #555;
}
.js-results-parent {
    width:30%;
    /* background: #E0DFD5; */
    background: #000;
    color:white;
    position: relative;
    height:100%;
    overflow:scroll;
    z-index:20;
    padding:10px;
    text-align: left;
}
.js-results {
    padding:0;
    margin:0;
    list-style-type: none;
}
.js-panel-list-wrapper {
    display: block;
    padding: 10px 5px;
    min-height: 50px;
    background: url('../images/Spotify_Icon_RGB_Green.png') center left no-repeat;
    background-position-x: 5px;
    background-size: 25px;
}
.js-panel-list-wrapper:hover {
    background-color:#fff;
    color:black;
    cursor: pointer;
}
.headerEvents {
    padding:10px 5px 5px 5px;
    font-size:18px;
    color: #DA5B59;
}
.headerEventsSubtitle {
    padding:0px 30px 5px 5px;
}
.eventName{
    font-weight: bold;
    font-size: 16px;
    padding: 0;
    padding-left:30px;

}
.fa-spotify {
    color: #1DB954;
}
.spacer {
    height:30px;
}
.embedPlayer.display {
    width:100%;
    height:300px;
    display:none;
}
.footer {
    color:#000;
    position: fixed;
    left:0;
    bottom:10px;
    width: 100%;
    text-align: center;
    font-size: 13px;
}
/* DESKTOP */
@media only screen and (min-width: 768px) {
    header {
        margin-top:30px
    }
}
/* ipad portrait */
@media only screen and (max-width: 768px) and ( orientation: portrait) { 
    header {
        margin-top: 50px;
    }
    body:after {
        background-position: center center; 
    }
}
/* ipad landscape */
@media only screen and (max-height: 768px) and ( orientation: landscape) { 
    header {
        margin-top: 30px;
    }
    body:after {
        background-position: center center; 
    }
    .header-overlay {
        top:0;
        width:25%;
    }
}
/*iPhone 6/7/8 and Samsung S5 */
@media only screen and (max-width: 640px) {
    button {
        padding:8px;
    }
    .header-overlay {
        width:60%;
        left:22%;
        top:5%;
        display:none;
    }

    #map.display {
        height: 100%;
        width:auto;
        position:relative;
        margin-left:0;
    }
    .js-results-parent {
        width:100%;
        position:fixed;
        height:35%;
        bottom:0;
        left:0;
    }
    .js-results .btnBack {
        float:right;
        font-size: 10px;
        margin-top: 5px;
    }
}
@media only screen and (max-width: 667px) and (orientation: landscape) {
    .headerEventsSubtitle {
        font-size: 14px;    
    }
    .eventName {
        font-size:14px;
    }
    .btnBack {
        font-size:12px;
    }
}
/*iPhone 5 and smaller format devices*/
@media only screen and (max-width: 568px) and ( orientation: portrait) {
    header {
        margin-top: 20px;
    }
}
/*phone landscape*/
@media only screen and (max-height: 420px) and ( orientation: landscape) {
    header {
        margin-top: 10px;
    }
}