 * { box-sizing:border-box; }

#map {
    height: 0;
    width: 0;
    position: absolute;
    overflow: visible;
    top:0;
    left:0;
    z-index: -9999;
}
#map.display {
    height: 100%;
    width:70%;
    margin-left:30%;
    z-index: 10;
}

/* Makes the map fill the window. */
html {
    height: 100%;
}
html,body {
    margin: 0px;
    padding: 0px;
    font-family: 'rubik','sans-serif'; 
}
body.full {
    height: 100%;
}
header,main {
    margin:0 auto;
    padding:0px 0 0 0;
    text-align: center;
}
header {
    padding:10px 0 0 0;
    margin:0 0 25px 0;
}
header h1 {
    font-size: 30px;
    color:#DA5B59;
    /*text-shadow: 1px 1px #555, 2px 2px 3px #555;*/    
}
main h3 {
    margin:0;
    padding:0 5px 8px 5px;
    
}
main h3.subTitle {
    color:#000;
    font-size:16px;
    font-family: Roboto;
}
main h4 {
    margin:0;
    padding:10px 0 15px 0;
}
main .orSpacer {
    padding:5px;
}
header h1 {
    margin:0 !important;
    padding:0 !important;
}
main {
    width:100%;
    height: 100%;
}
body::after {
    content: "";
    background: url('../images/bg.jpg') #000;
    background-size:cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
.frmWrapper {
    max-width: 400px;
    padding: 20px;
    border-radius: 3px;
    background: white;
    margin: 0 auto;
    margin-top:15px;
    box-shadow: 0 1px 46px -4px rgba(0,0,0,.28)
}

#frmSearch {
    max-width: 400px;
    padding: 20px;
    border-radius: 3px;
    background: white;
    margin: 0 auto;
    box-shadow: 0 1px 46px -4px rgba(0,0,0,.28)
}
fieldset {
    margin:0 auto;
    border: none;
    text-align:center;
}
legend {
    padding-bottom:5px;   
    text-align: center;
    margin:0 auto;
    width:100%;
    line-height: 38px;
    font-size: 24px;
    color:#7F7E7E;
}
fieldset #city {
    margin-bottom:10px
}
fieldset input,fieldset button,.frmWrapper button {
    border: solid 1px #dcdcdc;
    height:auto;
    width:100%;
    padding:15px;
    display: block;
    text-align: left;
    margin: 0 auto;
    border-radius: 3px;
    background: #fcfcfc;
    margin: 10px auto 10px ;
    transition: opacity 0.4s;
}
.frmWrapper button {
    text-align: center;
    background: #DA5B59;
    color: white;
}
.frmWrapper button:hover,.btnSubmit:hover {
    text-align: center;
    background: #951916;
    color: white;
    cursor: pointer;
}
.lnkBack {
    color:#DA5B59;
}
.btnSubmit {
    background: #DA5B59;
    color:white;
    text-align: center;
}
.errorDesc,.liError {
    margin: 5px 0;
    color: #DA5B59;
    font-size:16px;
}
.js-results-parent {
    width:30%;
    background: #181818;
    color:white;
    position: relative;
    height:100%;
    overflow:scroll;
    z-index:20;
    padding:10px;
    text-align: left;
}
.js-results {
    padding:0;
    margin:0;
    list-style-type: none;
}
.js-panel-list-wrapper {
    display: block;
    padding: 10px 5px;
    min-height: 50px;
    border-bottom: solid 1px #282828;
    
}
.js-results.no-spotify .js-panel-list-wrapper {
    display: block;
    padding: 10px 5px;
    min-height: 50px;
    background-image: url('../images/spacer.gif');
}
.js-results.spotify .js-panel-list-wrapper:hover {
    background-color:#282828;
    cursor: pointer;
}
.js-results.spotify .js-panel-list-wrapper:active,.js-results.spotify .js-panel-list-wrapper.highlight {
    background-color:#DA5B59;
    cursor: pointer;
}
.headerEvents {
    padding:10px 5px 5px 5px;
    font-size:30px;
    color: #DA5B59;
    text-transform: uppercase;
    text-align: center;
}
.headerEvents a {
    display:block;
}
.headerEventsSubtitle {
    padding:0px 0px 10px 5px;
    text-align: center;
}
.headerEventsSubtitle a {
    color:white;
    text-decoration: none;
    cursor: pointer;
}
.eventName{
    font-weight: normal;
    font-size: 14px;
    padding: 0;
    line-height: 18px;
    font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
}
.eventNameSpacer {
    margin-right:15px;
}
.js-results.no-spotify .eventName {
    padding-left:0px;
}
.fa-spotify {
    color: #1DB954;
}
.spacer {
    height:30px;
}
.embedPlayer.display {
    width:100%;
    height:300px;
    display:none;
}
.footer {
    color:#000;
    position: fixed;
    left:0;
    bottom:10px;
    width: 100%;
    text-align: center;
    font-size: 13px;
}
/* DESKTOP */
@media only screen and (min-width: 768px) {
    header {
        margin-top:30px
    }
}
/* ipad pro portrait */
@media only screen and (max-width: 1024px) and ( orientation: portrait) { 
    header {
        margin-top: 50px;
    }
    .headerEvents {
        font-size: 24px;
    }
}
/* ipad portrait */
@media only screen and (max-width: 768px) and ( orientation: portrait) { 
    header {
        margin-top: 50px;
    }
    
    .headerEvents {
        font-size: 16px;
    }
}
/* ipad landscape */
@media only screen and (max-height: 768px) and ( orientation: landscape) { 
    header {
        margin-top: 30px;
    }
    
    .headerEvents {
        font-size: 24px;
    }

}
/*iPhone 6/7/8 and Samsung S5 */
@media only screen and (max-width: 640px) {
    button {
        padding:8px;
    }
    .header-overlay {
        width:60%;
        left:22%;
        top:5%;
        display:none;
    }

    #map.display {
        height: 100%;
        width:auto;
        position:relative;
        margin-left:0;
    }
    .js-results-parent {
        width:100%;
        position:fixed;
        height:35%;
        bottom:0;
        left:0;
    }
    .headerEvents {
        font-size: 26px;
    }
}
@media only screen and (max-width: 667px) and (orientation: landscape) {
    .headerEventsSubtitle {
        font-size: 14px;    
    }
    .eventName {
        font-size:14px;
    }
    .headerEvents {
        font-size: 14px;
    }
}
/*iPhone 5 and smaller format devices*/
@media only screen and (max-width: 568px) and ( orientation: portrait) {
    header {
        margin-top: 20px;
    }
    .headerEvents {
        font-size:18px;
    }
    .headerEventsSubtitle {
        font-size: 14px;    
    }
    header h1 {
        font-size:30px;
    }
}
/*phone landscape*/
@media only screen and (max-height: 420px) and ( orientation: landscape) {
    header {
        margin-top: 10px;
    }
    
}